<app-header titulo="Toast"></app-header>

<ion-content class="ion-padding">
  <ion-button (click)="showToast('primary')" color="primary">Primary</ion-button>
  <ion-button (click)="showToast('secondary')" color="secondary">Secondary</ion-button>
  <ion-button (click)="showToast('tertiary')" color="tertiary">Tertiary</ion-button>
  <ion-button (click)="showToast('success')" color="success">Success</ion-button>
  <ion-button (click)="showToast('warning')" color="warning">Warning</ion-button>
  <ion-button (click)="showToast('danger')" color="danger">Danger</ion-button>
  <ion-button (click)="showToast('light')"color="light">Light</ion-button>
  <ion-button (click)="showToast('medium')" color="medium">Medium</ion-button>
  <ion-button (click)="showToast('dark')" color="dark">Dark</ion-button>
</ion-content>
